/* Navbar container */
.navbar_ {
    padding-left: 390px;
    overflow: hidden;
    background-color: #294a70;
    font-family: Arial;
}

.navbar_ i {
    background-color: transparent;
}

/* Links inside the navbar */
.navbar_ a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.flt_right {
    float: right;
    color: #f4a024 !important;
}

.flt_right:hover {
    color: white !important;
}

/* The dropdown container */
.dropdown_ {
    float: left;
    overflow: hidden;
}
.dropdown_ a:hover {
    text-decoration: none;
}

/* Dropdown button */
.dropdown_ .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #294a70;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar_ a:hover,
.dropdown_:hover .dropbtn {
    background-color: #f4a024;
}

.dropdown_ a.active {
    background-color: #f4a024;
    margin-top: 0;
}
/* .dropdown_.active {
    padding: 0;
    margin-top: 0;
    float: none;
    background-color: #f4a024;
} */

/* Dropdown content (hidden by default) */
.dropdown_-content {
    display: none;
    position: absolute;
    background-color: #f4a024;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown_-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown_-content a:hover {
    margin-left: 5px;
    transform: translate(0);
    background-color: #f5f6fa;
    text-decoration: none;
}

/* Show the dropdown menu on hover */
.dropdown_:hover .dropdown_-content {
    display: block;
}

.hamburger {
    display: none;
}

@media only screen and (width < 900px) {
    .navbar_ {
        padding-left: 50px;
        overflow: hidden;
        height: 50px;
        /* background-color: red; */
        font-family: Arial;
    }
    .hamburger {
        padding: 5px;
        margin: auto;
        display: block;
        cursor: pointer;
        background-color: transparent;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: aliceblue;
        margin: 6px 0;
    }

    .na_v_div {
        height: 0;
        position: absolute;
        top: inherit;
        left: 0;
        right: 0;
        width: 100vw;
        background: transparent;
        transition: 0.4s;
        overflow: hidden;
    }

    .na_v_div.active {
        height: 470px;
        z-index: 1000;
    }

    .na_v_div ul li {
        display: block;
        width: fit-content;
        margin: 10px auto 0 auto;
        text-align: center;
    }

    .dropdown_ a,
    button {
        display: block;
        width: fit-content;
        margin: 10px auto 0 auto;
        text-align: center;
        /* float: left;
        overflow: hidden; */
    }

    .dropdown_ {
        display: block;
        float: none;
        background-color: #294a70;
        justify-content: start;
    }
    .dropbtn {
        display: block;
        float: none;
        width: 100%;
        justify-content: left;
        justify-items: start;
    }
    .navbar_ a {
        float: none;
        width: 100%;
        justify-content: start;
    }

    .dropdown_-content a:hover {
        margin-left: 5px;
        transform: translate(0);
        background-color: #f5f6fa;
        text-decoration: none;
    }

    .dropdown_-content {
        right: 0;
    }
}
