*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f6fa;
}

.top-bar {
    width: 100%;
    height: 40px;
    background-color: #49688e;
    font-size: 100px;
}

/* .top-bar2 {
    width: 100%;
    height: 50px;
    background-color: #294a70;
    font-size: 100px;
} */

.font-20 {
    font-size: 20px;
}

.margin-t10 {
    margin-top: 10px;
}
.margin-t20 {
    padding-top: 20px;
}
.margin-t40 {
    padding-top: 40px;
}
.margin-b10 {
    margin-bottom: 10px;
}
.margin-b20 {
    margin-bottom: 20px;
}
.margin-l10 {
    margin-left: 10px;
}
.margin-l20 {
    margin-left: 20px;
}
.margin-r20 {
    margin-right: 20px;
}

.discipline-name-a:hover {
    text-decoration: none;
}

.contents {
    padding: 50px;
    display: flex;
    /* background-color: aqua; */
}

.column1 {
    width: 430px;
    height: 20px;
    /* background-color: red; */
}
.bar2 {
    width: 100%;
    display: flex;
    margin: 10px;
}
.bar2 h3 {
    padding-bottom: 20px;
    font-size: 16px;
}
.column2 {
    margin-right: 10px;
    width: 70%;
    height: 800px;
    /* background-color: yellow; */
}
.column2-cont {
    padding: 20px;
    border-top: 1px solid #49688e;
    background-color: white;
    /* padding: 10px; */
}

.column2-cont p {
    font-size: 20px;
    line-height: 25px;
}
.column2-cont p,
h4 {
    background-color: white;
}
.column3 {
    margin-left: 10px;
    width: 30%;
    height: 800px;
    /* background-color: yellowgreen; */
}
.column3-cont {
    padding: 20px;
    border-top: 1px solid #49688e;
    background-color: white;
    /* padding: 10px; */
}
.column3-cont h4 {
    padding-bottom: 15px;
    border-bottom: 1px solid #49688e;
}
